<div class="container">
    <div class= "row">
        <div class="col-md-2"></div>
            <div class="col-md-8">
                <h4>新規作成</h4>
                <%= render 'user/books/form', book: @book %>
            </div>
        <div class="col-md-2"></div>
    </div>
</div>