<h5>ユーザ－一覧</h5>
    <table>
        <tbody>
            <% @users.each do |user| %>
            <tr>
                <td><%= link_to user_path(user) do %>
                        <%= image_tag user.get_profile_image(100,100) %>
                    <% end %>
                </td>
                <td><%= user.name %></td>
                <td><%= link_to "退会させる", user_path(user), method: :delete %></td>
            </tr>
            <% end %>
        </tbody>
    </table>

