<div class="container">
    <div class="row">
        <div class="col-2"></div>
            <div class="col-8">
<h5>ユーザ－一覧</h5>
<%= render "user/users/index", user: @user %>
            </div>
        <div class="col-2"></div>
    </div>
</div>