<h5 class="text-center font-weight-bold">幾つもの創造世界が広がるコミュニケーションサイト</h5>

<p class="text-center font-weight-bold"> 
    小説を書いて共有したい人。</br>
    小説を書くことに挑戦してみたい人。</br>
    小説を読みたい人。</br>
    </br>
    好きな時に読み、好きな小説を作りあげる</br>
    最高の時間を貴方に。
</p>

