<footer style="background-color:dark;">
    <div class="fixed-bottom">
        <div class="container mb-3">
            <div class="row">
                <div class="mx-auto">
                     <h6 class="text-color:white">© NoveList</h6>
                </div>
            </div>
        </div>
    </div>    
</footer>    