<footer class="bg-dark text-white w-100 ">
    <div class="border-top" style="height:50px;margin-top:50px;">
        <div class="container mb-3">
            <div class="row">
                <div class="mx-auto">
                     <h6 class="text-color:white lh-sm">NoveList</h6>
                </div>
            </div>
        </div>
    </div>    
</footer>    